body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.container {
    width: 90vw;
    min-height: 90vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container .form {
    margin-bottom: 30px;
}

.container input {
    padding: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.container input.input {}

.container input.add {}

.error {
    font-size: 14px;
    margin-top: 7px;
    color: orangered;
    text-indent: 11px;
}

.container h1 {}

.container ul {
    display: flex;
    margin-bottom: 35px;
    width: 53%;
    align-items: center;
    justify-content: space-between;
}
.container ul li {
    cursor: pointer;
    background-color: white;
    padding: 4px 10px;
    border-radius: 4px;
}

.container .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container .tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.container .tasks .task .txt {
    overflow-wrap: anywhere;
}

.container .tasks .task.completed {
    opacity: .7;
}
.container .tasks .task.completed .txt {
    text-decoration: line-through;
}
.container .tasks .task.completed .actions .btn {
    opacity: .5;
}

.container .tasks .task .actions {
    display: flex;
    gap: 4px;
    margin-right: 22px;
}

.actions .btn {
    padding: 4px 8px;
    width: fit-content;
    border-radius: 2px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.actions .btn.done {
    background-color: yellowgreen;
}

.actions .btn.delete {
    background-color: indianred;
}



.container .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 35px;
}
.container .info div {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .info .quantity {}
.container .info .delete-all {}