:root {
    --main-clr: #795548;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    background-image: url("imgs/backgrounds/backg.png");
    background-size: cover;
}

.message {
    transition: all 1s;
    position: absolute;
    right: -30vw;
    /* right: 30px;
    background-color: #009688; */
    font-size: 18px;
    top: 30px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 3px solid;
}
.message.success {
    background-color: #009688;
}
.message.info {
    background-color: #af8677;
}
.message.failed {
    background-color: #f44336;
}

.message .undo {
    background-color: white;
    color: var(--main-clr);
    padding: 3px 6px;
    width: fit-content;
    border-radius: 3px;
    margin: 8px auto 3px 3px;
    border: 1px solid;
    cursor: pointer;
} 
.message .undo:hover {
    background-color: var(--main-clr);
    color: white;
}
.message:hover {
    right: 30px !important;
}

.container {
    width: 90vw;
    min-height: 90vh;
    background-color: #e5cec5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .form {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input {
    padding: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
}

.container input.input {
    color: var(--main-clr);
    border: 1px solid;
    width: 34vw;
}

.container input.add {
    background-color: var(--main-clr);
    color: white;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    width: 9vw;
}
.container input.add:focus {
    opacity: .9;
    scale: 1.05;
}

.error {
    font-size: 18px;
    margin-top: 12px;
    color: orangered;
    text-indent: 11px;
    padding: 5px 10px;
    border-radius: 9px 0;
    transition: all 1s;
}

hr {
    background-color: #fff;
    height: 2px;
    width: 90vw;
    margin: 40px;
    border: none;
}

.container h1 {
    color: var(--main-clr);
    margin-bottom: 35px;
}

.container ul {
    display: flex;
    margin-bottom: 35px;
    width: 45vw;
    align-items: center;
    justify-content: space-between;
}
.container ul li {
    cursor: pointer;
    background-color: white;
    color: var(--main-clr);
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    border-right: 3px solid;
}
.container ul li.active {
    background-color: #795548;
    color: white;
    border-right: 3px solid;
}

.container .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 45vw;
    /* display: none; */
}

.container .tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: var(--main-clr);
}

.container .tasks .task .txt {
    overflow-wrap: anywhere;
}

.container .tasks .task.completed {
    opacity: .7;
}
.container .tasks .task.completed .txt {
    text-decoration: line-through;
}
.container .tasks .task.completed .actions .btn {
    opacity: .5;
}

.container .tasks .task .actions {
    display: flex;
    gap: 4px;
    margin-right: 22px;
}

.actions .btn {
    background-color: var(--main-clr);
    color: #fff;
    padding: 4px 8px;
    width: fit-content;
    border-radius: 2px;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.actions .btn.done:hover,
.actions .btn.done:hover:focus {
    background-color: yellowgreen;
}

.actions .btn.delete:hover,
.actions .btn.delete:hover:focus {
    background-color: indianred;
}

.no-tasks {
    font-size: 22px;
    color: var(--main-clr);
    transition: all .5s;
}
.no-tasks.more {
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.container .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 35px;
}
.container .info div {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: white;
    color: var(--main-clr);
    border-bottom: 3px solid;
}
.container .info .quantity {}
.container .info .delete-all {
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.container .info .delete-all:hover {
    scale: 1.1;
    background-color: indianred;
    color: white;
}